.word {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid transparent;
}

.word:hover {
    border: 1px solid #cccccc;
}

.word.selected {
    border: 1px solid #666666;
}